@charset "utf-8";
@import "bulma";

// COLORS
$color1: #1A2632;
$color2: #63C3D1;
$color3: #F57E29;
$color4: #A4AEB8;

$text-light: #FFFFFF;
$text-dark: #1A2632;

// POLICES
$font1: 'Roboto', sans-serif;

// CSS Homepage

.backgroundhome {
    position: relative;
    width: 100%;
    background-color: $color1;
}

// BUTTONS

.primary-button {
    background-color: $color3;
}

.secondary-button {
    background-color: $color2;
}

.selected-button {
    background-color: $color4;
}

button {
    font-family: $font1;
    font-weight: 600;
    padding: .5em .8em;
    font-size: 1em;
    border: none;
    border-radius: .2em;
}

.button.is-text{
  text-decoration: none;
  color : $color2;
}

.button.is-info{
 background-color: transparent;

}
.button.is-info:hover{
color : $color2;
background-color: transparent;

}

//input

.inputsearch{
  width: 149px;
  height: 26px;
  left: 1093px;
  top: 308px;
  background: rgba(255, 255, 255, 0.84);
  border-radius: 30px;
  border : none;
  padding : 2px;
  font-family: $font1;
  padding-left: 10px;
  margin-left: 20px;
}

//display

.NavCatalogue{
  width : 100%;
  display : inline-flex;
  justify-content: flex-end;
  padding-right: 10px;
}
