@charset "utf-8";
@import "bulma";

/**************** COLORS *************/
$color1: #1A2632;
$color2: #63C3D1;
$color3: #F57E29;
$color4: #A4AEB8;

$color_error:red;

$text-light: #FFFFFF;
$text-dark: #1A2632;

$color_success: rgb(81, 255, 0);

/**************** FONTS *************/
$font1: 'Roboto',
sans-serif;

/**************** DEBUT CSS *************/


body {
    font-family: $font1;

    /**************** CSS HOME PAGE - SPA *************/

    .backgroundhome {
        position: relative;

        background-color: $color1;
    }

    button {
        font-weight: 600;
        padding: .3em .6em;
        font-size: 1.7em;
        border: none;
        border-radius: .6em;
        color: $text-light;
    }

    // Headings

    h1 {
        color: $text-light;
        font-weight: 900;
        margin: 0;
    }

    h2 {
        color: $color2;
        font-weight: 300;
        margin: 0;
    }

    h3 {
        color: $text-light;
        font-weight: 400;
        margin: 0;
    }

    /**************** DEBUT BUTTONS *************/

    .primary-button {
        background-color: $color1;
        border-radius: 20px;

    }

    .secondary-button {
        background-color: $color2;
        border-radius: 20px;
        color: white;
    }

    .selected-button {
        background-color: $color4;

    }

    .submit-button {
        background-color: $color3;
        color: white;
        margin: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .submit-button:hover {
        background-color: white;
        color: $color3;
    }

    .success-button {
        background-color: $color_success;
        border-radius: 20px;
    }

    button {
        font-family: $font1;
        font-weight: 600;
        padding: .5em .8em;
        font-size: 1em;
        border: none;
        border-radius: 1em;
        cursor: pointer;
    }

    button:disabled {
        color: rgba(255, 255, 255, 0.41);
        background-color: grey;
        opacity: 20;
    }


    .error {
        color: $color_error;
    }

    .button.is-text {
        text-decoration: none;
        color: $color2;
    }

    .button.is-info {
        background-color: transparent;

    }

    .button.is-info:hover {
        color: $color2;
        background-color: transparent;

    }

    //input

    .inputsearch {
        width: 179px;
        height: 26px;
        left: 1093px;
        top: 308px;
        background: rgba(255, 255, 255, 0.84);
        border-radius: 30px;
        border: none;
        padding: 2px;
        font-family: $font1;
        padding-left: 10px;
        margin-left: 20px;
    }


    .button.is-text {
        text-decoration: none;
        color: #63C3D1;
    }

    .error {
        color: $color_error,
    }

    /**************** FIN BUTTONS *************/

    /*******************************************/

    /**************** ICON INPUTS LOGIN AND ADDUSERS *************/

    .icon-input-field {

        position: absolute;
        width: 10px;
        text-align: center;
        margin-top: 18px;
        margin-left: 10px;
        color: rgba(245, 126, 41, 0.80);
        opacity: 30%;

    }

    /**************** FIN ICON  INPUTS LOGIN AND ADDUSERS *************/

    /*******************************************/

    /************* DEBUT LOGIN PAGE  ***********/

    .backgoundImage {
        background-image: url('../../assets/backgroundimage-gradien-1080p.jpg');
        background-size: cover;
        margin: 0 auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &:before {
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            position: absolute;
            background-image: linear-gradient(to bottom right, $color1, $color2);
            opacity: 0.7;
        }
    }

    .login_container {

        text-align: center;
        position: relative;
        overflow: hidden;
        margin-top: 50px;

        img {
            width: 280px;
        }

        p {
            padding-top: 10px;
            cursor: pointer;
            color: $color3;
        }

        p:hover {
            color: white;
        }

        input[type=text],
        input[type=password] {
            outline: none;
            width: 25%;
            height: 30px;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 20px;
            box-sizing: border-box;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.60);
            color: $color1;
        }

        input:focus {
            outline: none;
            text-align: center;
            border: 1px solid rgba(245, 126, 41, 0.80);
        }

        ::-webkit-input-placeholder {
            text-align: center;
            justify-content: center;
        }

        :-moz-placeholder {
            text-align: center;
        }

        svg {
            padding-top: 2px;
            margin-top: 15px;
        }

        button {
            cursor: pointer;
            color: white;
            background-color: $color3;
            padding-left: 20px;
            padding-right: 20px;

        }

    }



    /**************** FIN LOGIN PAGE **********************/

    /*******************************************************/

    /**************** DEBUT ADD USERS COMPONENTS *************/

    .container {
        text-align: center;
        background-color: $color1;

    }

    hr {
        background-color: $color3;
        width: 250px;
        margin: 10px auto;
        height: 1px;
    }

    .adduser-component {
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.50);
        width: 560px;
        height: 520px;
        border-radius: 20px;
        text-align: center;
        padding: 40px;

        input[type=text],
        input[type=password] {
            outline: none;
            width: 40%;
            height: 30px;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 20px;
            box-sizing: border-box;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.60);
            color: $color1;
        }

        input:focus {
            outline: none;
            text-align: center;
            border: 1px solid rgba(245, 126, 41, 0.80);
        }

        ::-webkit-input-placeholder {
            text-align: center;
            justify-content: center;
        }

        :-moz-placeholder {
            text-align: center;
        }

        svg {
            padding-top: 2px;
            margin-top: 15px;
        }

    }


    .addusers_title {
        font-size: 48px;
        color: white;
    }

}

/**************** FIN ADD USERS COMPONENTS *************/

// NAVBAR



.navbarstyle {
    background-color: $color1;

}

.navadmin {
    display: flex;
    justify-content: space-around;
    margin: 5em auto 6em auto;
}



.navAdminpicto{
  display: flex;
  justify-content: space-around;
  margin: 10em 2em 2em 4em ;
}

// TABLES

.table {
    margin: 0 auto;
    margin-top: 4em;
    margin-bottom: 4em;
    border-radius: .6em;
}

.buttonNav {
  font-family: $font1;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  color : white;
  background-color: transparent;
}

.buttonNav:hover {
  font-family: $font1;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  color : $color3;
  background-color: transparent;

}

.buttonNavlogout {
  font-family: $font1;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  color : white;
  background-color: transparent;
  font-size: 12px;

}
.buttonNavlogout:hover {

  font-family: $font1;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  color : $color3;
  background-color: transparent;
  font-size: 12px;

}

.buttonNavadmin {
  font-family: $font1;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  margin-right: 70px;
  color : $color3;
  background-color: transparent;
}


















































































/*********** DEBUT EDIT PROFIL **************/

.editprofil-component {
    margin: 0 auto;
    background-color: white;
    width: 800px;
    height: 600px;
    border-radius: 20px;
    text-align: center;
    padding: 40px;
    position: relative;

            .editprofil-image {
                position: relative;
                display: flex;
                float: left;
                width: 260px;
                height: 260px;
            }


            h1 {
                color: $color3;
                font-size: 30px;
                position: relative;
                float: right;
                font-weight: 600;
            }

            hr {
                margin-bottom: 5em;
                margin-top: 5em;
                width: 100%;
            }


            svg {
                padding-top: 2px;
                margin-top: 15px;
            }

            input {
                outline: none;
                width: 25%;
                height: 30px;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 20px;
                box-sizing: border-box;
                text-align: center;
                background-color: rgba(255, 255, 255, 0.60);
                color: $color1;
            }


}



/**************** Catalogue *************/
.backgroundhome {
    .backgroundcat {
        width: 85%;
        height: 100%;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.17);;
        padding: 30px;
        margin-top: 1rem;
        position: relative;
        text-align: center;
        border-radius: 20px;
    }


.NavCatalogue{
  width : 75%;
  margin: 30px auto auto 150px;
  display : inline-flex;
  justify-content: flex-end;
  padding-right: 10px;
}
.titleCat {
font-family: $font1;
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
margin-right: 500px;
font-size: 30px;
text-align: left;
color: $color3;
}
}

// ELIAS CSS JUST FOR CARDS AND Modal
#bookCard {
    width: 15rem;
    border-radius: 1rem;
    padding: 1.2rem;
    margin: 3rem;
    text-align: center;
    display: inline-block;
}

#bookCard:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

#cardImage {
    width: 8rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#cardButton {
    margin-top: 1rem;
    color: white;
    background-color: rgb(26, 38, 50);
}


 #bookCardHeader {
     color: white;
     border-radius: 1rem;
     padding-top: 0.5rem;
     padding-bottom: 0.5rem;
     font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
     font-size: 14px;
 }
 #modalTitle {
     color: white;
     font-size: 3rem;
     background-color: rgb(26, 38, 50);
     border-radius: 1rem;
     padding-top: 0.5rem;
     padding-bottom: 0.5rem;
     padding-left: 1rem;
     padding-right: 1rem;
 }
 #modalAuthor {
    margin-top: 1rem;
    margin-bottom: 0.6rem;
    font-size: 1.5rem;
    color: white;
    font-style: italic;
 }
 #modalSummary {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    color: white;
    background-color: rgba(26, 38, 50, 0.3);
    border-radius: 1.5rem;
 }
