// COLORS
$color1: #1A2632;
$color2: #63C3D1;
$color3: #F57E29;
$color4: #A4AEB8;

$text-light: #FFFFFF;
$text-dark: #1A2632;

// POLICES
$font1: 'Roboto', sans-serif;

// CSS Homepage

#app {
    background-color: $color1;
    font-family: $font1;
}

// BUTTONS

.primary-button {
    background-color: $color3;
}

.secondary-button {
    background-color: $color2;
}

.selected-button {
    background-color: $color4;
}

button {
    font-weight: 600;
    padding: .3em .6em;
    font-size: 1.7em;
    border: none;
    border-radius: .6em;
    color: $text-light;
}

// Headings

h1 {
    color: $text-light;
    font-weight: 900;
    margin: 0;
}

h2 {
    color: $color2;
    font-weight: 300;
    margin: 0;
}

h3 {
    color: $text-light;
    font-weight: 400;
    margin: 0;
}
